RewriteEngine On

RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# 1. Redirecionamento: form/oposicaodesconto
RewriteRule ^form/oposicaodesconto/?$ views/form.php?id=4515b5b3-140b-11f1-b48c-02001701f057 [L,QSA]

# 2. Redirecionamento: form/assistenciagreve
RewriteRule ^form/assistenciagreve/?$ views/form.php?id=45180049-140b-11f1-b48c-02001701f057 [L,QSA]

# 3. Redirecionamento: admin/dashboard
RewriteRule ^admin/dashboard/?$ views/admin/dashboard.php [L]