  :root {
      --bs-primary: rgb(255, 133, 0);
      --bs-primary-rgb: 255, 133, 0;
      --bs-btn-bg: rgb(255, 133, 0);
      --bs-link-color: rgb(255, 133, 0);
  }

  .btn-primary {
      --bs-btn-bg: rgb(255, 133, 0);
      --bs-btn-border-color: rgb(255, 133, 0);
      --bs-btn-hover-bg: rgb(230, 115, 0);
      --bs-btn-hover-border-color: rgb(220, 108, 0);
      --bs-btn-active-bg: rgb(210, 100, 0);
      --bs-btn-color: #fff;
      --bs-btn-hover-color: #fff;
      --bs-btn-active-color: #fff;
  }

  .btn-outline-primary {
      --bs-btn-color: rgb(255, 133, 0);
      --bs-btn-border-color: rgb(255, 133, 0);
      --bs-btn-hover-bg: rgb(255, 133, 0);
      --bs-btn-hover-border-color: rgb(255, 133, 0);
      --bs-btn-hover-color: #fff;
  }

  .text-primary {
      color: rgb(255, 133, 0) !important;
  }

  .bg-primary {
      background-color: rgb(255, 133, 0) !important;
  }

  .border-primary {
      border-color: rgb(255, 133, 0) !important;
  }

  .navbar.bg-primary {
      background-color: rgb(255, 133, 0) !important;
  }